.DS_Store
.vscode
.babelrc
build.js
index.html
index.js
jsconfig.json
webpack.config.js
yarn.lock
README.md
node_modules/
test/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
self.txt

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# dev files
src/
dev/
demo/
resource/
.npmrc
.npmignore
.gitignore